:root {
  --navHeight: 12vw;
  --bodyHeight: 70vw;
  --navWidth: 70vw;
}

.logo {
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  height: var(--navHeight);
  width: calc(100% - var(--navWidth));

}

.navigation__wrapper__ul {
  position: relative;
  list-style: none;
  width: var(--navWidth);
  height: var(--navHeight);
  margin-left: calc(100% - var(--navWidth));
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.navigation__Link {
  text-decoration: none;
  color: black;
  border: none;
  font-size: 1.4vw;
  display: block;
}

.navigation__li {
  display: flex;
  align-items: center;
  align-content: flex-end;
  line-height: var(--navHeight);
  text-transform: uppercase;
  width: 20vw;
  font-size: 1rem;
  text-align: center;
}

.navigation__li :hover {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navigation__Link__active {
  font-weight: bold;
  background-color: rgb(200, 218, 221);
  letter-spacing: 2px;
}