@media (orientation: landscape) and (max-width: 1600px) {
  .navigation__wrapper__ul {
    list-style: none;
    text-align: end;
    width: 70vw;
    height: 150px;
    margin: 0 7px 0 620px;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .navigation__li {
    text-transform: uppercase;
    width: 15vw;
    margin-top: 70px;
    text-align: center;
  }

  .navigation__li :hover {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .navigation__Link__active {
    font-weight: bold;
    background-color: rgb(200, 218, 221);
    letter-spacing: 2px;
  }
  .navigation__Link {
    text-decoration: none;
    color: black;
    border: none;
    font-size: 18px;
    display: block;
  }
}
@media (max-width: 1400px) {
  .navigation__wrapper__ul {
    width: 70vw;
    height: 150px;
    margin: 0 7px 0 520px;
  }
  .navigation__Link {
    font-size: 0.9em;
  }
  .navigation__li {
    width: 17vw;
  }
}
@media (max-width: 1200px) {
  .navigation__wrapper__ul {
    width: 70vw;
    height: 150px;
    margin: 0 7px 0 440px;
  }
  .navigation__Link {
    font-size: 0.9em;
  }
  .navigation__li {
    width: 17vw;
  }
}
@media (max-width: 1024px) {
  .navigation__wrapper__ul {
    width: 70vw;
    height: 150px;
    margin: 0 3px 0 390px;
  }
  .navigation__Link {
    font-size: 0.8em;
  }
  .navigation__li {
    width: 18vw;
  }
}
@media (max-width: 940px) {
  .navigation__wrapper__ul {
    width: 70vw;
    height: 130px;
    margin: 0 6px 0 370px;
  }
  .navigation__Link {
    font-size: 0.7em;
  }
  .navigation__li {
    width: 16vw;
  }
}
@media (max-width: 880px) {
  .navigation__wrapper__ul {
    width: 70vw;
    height: 130px;
    margin: 0 6px 0 370px;
  }
  .navigation__Link {
    font-size: 0.6em;
  }
  .navigation__li {
    width: 15vw;
  }
}
@media (orientation: portrait) and (max-width: 820px) {
  .navigation__wrapper__ul {
    width: 70vw;
    height: 130px;
    margin: 0 6px 0 250px;
  }
  .navigation__Link {
    font-size: 0.6em;
  }
  .navigation__li {
    width: 14vw;
  }
}
@media (max-width: 768px) {
  .navigation__wrapper__ul {
    width: 70vw;
    height: 110px;
    margin: 0 6px 0 260px;
  }
  .navigation__Link {
    font-size: 0.58em;
  }
  .navigation__li {
    width: 17vw;
    margin-top: 53px;
  }
}

@media (max-width: 640px) {
  .navigation__wrapper__ul {
    width: 70vw;
    height: 90px;
    margin: 0 6px 0 220px;
  }
  .navigation__Link {
    font-size: 0.45em;
  }
  .navigation__li {
    width: 16vw;
    margin-top: 44px;
  }
}
@media (max-width: 590px) {
  .navigation__wrapper__ul {
    width: 70vw;
    height: 65px;
    margin: 0 6px 0 190px;
  }
  .navigation__Link {
    font-size: 0.38em;
  }
  .navigation__li {
    width: 17vw;
    margin-top: 34px;
    margin-left: 0px;
    margin-right: 0;
  }
}
@media (max-width: 560px) {
  .navigation__wrapper__ul {
    width: 70vw;
    height: 46px;
    margin: 0 6px 0 150px;
  }
  .navigation__li {
    width: 18vw;
    margin-top: 20px;
  }
  .navigation__Link {
    font-size: 0.32em;
  }
}

@media (max-width: 435px) {
  .navigation__wrapper__ul {
    width: 60vw;
    height: 35px;
    margin: 0 6px 0 120px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    text-align: end;
  }
  .navigation__li {
    width: 20vw;
    margin-top: 20px;
    text-transform: uppercase;
  }
  .navigation__li :hover {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .navigation__Link {
    display: block;
    font-size: 0.23em;
    text-decoration: none;
    color: black;
  }
  .navigation__Link__active {
    font-weight: bold;
    background-color: rgb(200, 218, 221);
    letter-spacing: 2px;
  }
}

@media (max-width: 400px) {
  .navigation__wrapper__ul {
    width: 70vw;
    height: 46px;
    margin: 0 6px 0 110px;
  }
  .navigation__li {
    width: 17vw;
    margin-top: 20px;
  }
  .navigation__Link {
    font-size: 0.26em;
  }
}

@media (max-width: 360px) {
  .navigation__wrapper__ul {
    width: 70vw;
    height: 46px;
    margin: 0 6px 0 150px;
  }
  .navigation__li {
    width: 18vw;
    margin-top: 20px;
  }
  .navigation__Link {
    font-size: 0.32em;
  }
}
