* {
  margin: 0;
  box-sizing: border-box;
}

.items__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 96vw;
  margin: 1vw;
}

.listItem__wrapper {
  flex: 1 27vw;
  list-style: none;
  padding: 3vw 2vw;
  margin: 0 0 0 1vw;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.listItem__image {
  height: 13vw;
  width: 13vw;
  margin-right: 1vw;
  border-radius: 50%; /*okragle boki */
}

.listItem__name {
  margin: 0 0 0 1vw;
  font-weight: 700;
  color: rgb(78, 36, 11);
}

@media (max-width: 900px) {
  .items__wrapper {
    max-width: 88vw;
    margin: 3vw auto;
  }
  .listItem__wrapper {
    flex: 1 40vw;
    padding: 3vw 2vw;
    margin: 0 0 0 1vw;
  }
  .listItem__image {
    margin-right: 1vw;
  }

  .listItem__name {
    margin: 0 0 0 1vw;
    font-weight: 400;
    font-size: 3vw;
  }
}
