html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;

}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picture {
  margin-top: 20px;
  position: relative;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.background__img {
  width: 30%;
  height: 30%;
  display: flex;
}

.citat {
  width: 50%;
  margin-right: 10%;
  height: 20%;
  margin-bottom: 10%;
  color: #4A3029;
  font-size: 1.3rem;
  line-height: 2.2rem;
  text-align: center;
  letter-spacing: 5px;
  font-family: "Arial", "cursive", "sans-serif";
}
.about_us_wrapper{
  width: 100%;
  height: auto;
  color: #4A3029;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}
.about_us_wrapper h3{
  line-height: 2.3rem;
  font-size: 2rem;
  flex-basis: 20%;
  margin: 5rem 0;
  letter-spacing: 5px;
}
.about_us_wrapper article{
  flex-basis: 70%;
  line-height: 3rem;
  font-size: 1.3rem;
  width: 70%;
  text-align: center;
  letter-spacing: 1px;
}



@media (orientation: landscape) and (max-width: 1024px) {
  .picture {
    margin-top: 10vw;
  }

  .background__img {
    width: 30%;
    height: 30%;
  }

  .citat {
    width: 50%;
    margin-right: 10%;
    height: 20%;
    margin-bottom: 10%;
    font-size: 1.2rem;
    line-height: 2.4rem;
    letter-spacing: 4px;
  }
}
@media (orientation: portrait) and (max-width: 1024px) {
  .about_us_wrapper{
    margin: 3rem 0;
  }
  .about_us_wrapper h3{
    line-height: 2.5rem;
    font-size: 1.6rem;
    margin: 4rem 0;
  }
  .about_us_wrapper article{
    line-height: 2.5rem;
    font-size: 1.1rem;
    width: 80%;
  }
}

@media (max-width: 820px) {
  .picture {
    margin-top: 11vw;
  }

  .background__img {
    width: 37%;
    height: 37%;
  }

  .citat {
    width: 50%;
    margin-right: 10%;
    height: 20%;
    margin-bottom: 10%;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 3px;
  }
}

@media (orientation: portrait) and (max-width: 768px) {
  .about_us_wrapper{
    margin: 3rem 0;
  }
  .about_us_wrapper h3{
    line-height: 2.5rem;
    font-size: 1.8rem;
    margin: 3rem 0;
  }
  .about_us_wrapper article{
    line-height: 2.4rem;
    font-size: 1.1rem;
    width: 80%;
  }
}


@media (max-width: 560px) {
  .picture {
    margin-top: 15vw;
  }

  .background__img {
    width: 42%;
    height: 42%;
  }

  .citat {
    width: 45%;
    margin-right: 10%;
    height: 20%;
    margin-bottom: 10%;
    font-size: 1rem;
    line-height: 1.7rem;
    letter-spacing: 3px;
  }
}

@media (max-width: 414px) {
  .picture {
    margin-top: 12vw;
  }

  .background__img {
    width: 45%;
    height: 45%;
  }

  .citat {
    width: 45%;
    margin-right: 5%;
    height: 20%;
    margin-bottom: 10%;
    font-size: 0.8rem;
    line-height: 1.7rem;
    letter-spacing: 2.5px;
  }
  .about_us_wrapper{
    margin: 3rem 0;
  }
  .about_us_wrapper h3{
    line-height: 2.5rem;
    font-size: 1.2rem;
    margin: 2rem 0;
  }
  .about_us_wrapper article{
    line-height: 1.9rem;
    font-size: 0.9rem;
    width: 90%;
  }
}

@media (max-width: 360px) {
  .picture {
    margin-top: 14vw;
    width: 100%;
    justify-content: space-between;
  }

  .background__img {
    width: 45%;
    height: 45%;
  }

  .citat {
    width: 45%;
    margin-left: 5%;
    margin-bottom: 10%;
    font-size: 0.7rem;
    line-height: 1.7rem;
    letter-spacing: 2px;
  }
  .about_us_wrapper{
    width: 100%;
    height: auto;
    margin: 2rem 0;
  }
  .about_us_wrapper h3{
    line-height: 2.3rem;
    font-size: 1.1rem;
    margin: 2rem 0;
    letter-spacing: 3px;
  }
  .about_us_wrapper article{
    line-height: 1.7rem;
    font-size: 0.8rem;
    width: 90%;
  }
}