@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan+2:400,600,700&display=swap");

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
}

@media (orientation: landscape) and (max-width: 1600px) {
  .logo {
    margin-left: 1vw;
    margin-top: 0;
    height: 12vw;
    width: auto;
    position: absolute;
  }
  .background__img {
    width: 90vw;
    margin: 0.5vw 4vw;
    text-align: center;
    position: relative;
  }
  .citat {
    position: absolute;
    left: 28%;
    bottom: 14%;
    font-size: 0.9em;
    color: azure;
    display: block;
    max-width: 30em;
    font-family: "Baloo Chettan 2", cursive, sans-serif;
  }
}

@media (max-width: 1024px) {
  .citat {
    left: 28%;
    bottom: 32%;
    font-size: 0.7em;
  }
}
@media (orientation: portrait) and (max-width: 820px) {
  .citat {
    left: 28%;
    top: 40%;
    font-size: 0.6em;
  }
}

@media (max-width: 768px) {
  .citat {
    left: 24%;
    top: 45%;
    font-size: 0.6em;
  }
}
@media (max-width: 640px) {
  .citat {
    left: 28%;
    top: 38%;
    font-size: 0.5em;
    max-width: 35em;
  }
}
@media (max-width: 560px) {
  .citat {
    left: 28%;
    top: 53%;
    font-size: 0.5em;
  }
}
@media (max-width: 500px) {
  .citat {
    left: 28%;
    top: 40%;
    font-size: 0.45em;
  }
}

@media (max-width: 435px) {
  .citat {
    top: 43%;
    font-size: 0.4em;
  }
}
@media (max-width: 360px) {
  .citat {
    left: 20%;
    top: 37%;
    font-size: 0.32em;
  }
}
