.contact_wrapper{
    min-height: 120vh;
}

.messageContact {
    color: #4A3029;
    font-size: 1.1rem;
    line-height: 5rem;
    letter-spacing: 2px;
    margin-top: 10vh;
    text-align: center;
}

.messageContact p {
    margin-bottom: 5%;
}

@media(orientation: portrait) and (max-width: 1024px){
    .contact_wrapper{
        min-height: 80vh;
    }
  }
  @media(orientation: portrait) and (max-width: 768px){
    .contact_wrapper{
        min-height: 120vh;
    }
    .contact_wrapper{
        min-height: 77vh;
    } 
  }

@media(max-width: 800px) {
    .messageContact {
        width: 80vw;
        font-size: 1rem;
    }
    
}

@media(max-width: 460px) {
    .messageContact {
        width: 80vw;
        font-size: 0.7rem;
    }
    .contact_wrapper{
        min-height: 70vh;
    } 
}
@media(max-width: 375px) {
    .contact_wrapper{
        min-height: 70vh;
    }
}
@media(max-width: 360px) {
    .contact_wrapper{
        min-height: 80vh;
    }
}
@media(max-width: 320px) {
    .messageContact {
        width: 100vw;
        font-size: 0.8rem;
    }
}